<% layout('layout') -%>

<section>

    <div class="homesection">

        <a title="Create" href="/create" id="create">
            <div id="createbutton">
                <div id="little">Create a Private</div>
                <div id="big">CHAT ROOM!</div>
            </div>
        </a>
    </div>

</section>
