<% layout('layout') -%>

<div class="styleguide">

	<!-- Buttons -->

		<!-- Leave Game -->

		<!-- Game Options -->

	<!-- Header -->

	<!-- Footer -->

	<!-- Cards --> 
		
		<!-- Black (Front) -->

		<!-- White (Front) -->

		<!-- Black (Back) -->

		<!-- White (Back) -->

	<!-- Card Pile -->

	<!-- Chat -->

	<!-- User List w/ Scores --> 

</div>