<% layout('layout') -%>

<div class="styleguide">

	<!-- Timer -->

		<!-- http://codepen.io/HugoGiraudel/pen/BHEwo -->

	<!-- Buttons -->

		<!-- Leave Game -->

		<!-- Game Options -->

			<!-- Disable Animations? -->

	<!-- Header -->

	<!-- Footer -->

	<!-- Cards --> 
		
		<!-- Black -->

		<div class="card card--black">

			<div class="card__front">
				<p class="card__text card__text--question">
					Maybe she's born with it. Maybe it's <span class="card__blank">___________</span>
				</p>
			</div>

			<div class="card__back">
				<h3 class="card__logo">Cards Against Humanity</h3>
			</div>

		</div>

		<div class="card card--black">
			
			<div class="card__front">
				<p class="card__text card__text--question">What are my parents hiding from me?</p>
			</div>

			<div class="card__back">
				<h3 class="card__logo">Cards Against Humanity</h3>
			</div>

		</div>

		<!-- White -->

		<div class="card card--white">

			<div class="card__front">
				<p class="card__text card__text--answer">A micropenis.</p>
			</div>

			<div class="card__back">
				<h3 class="card__logo">Cards Against Humanity</h3>
			</div>

		</div>

		<div class="card card--white">

			<div class="card__front">
				<p class="card__text card__text--answer">A Bop It<span class="card__tm">™</span>.</p>
			</div>

			<div class="card__back">
				<h3 class="card__logo">Cards Against Humanity</h3>
			</div>

		</div>

	<!-- Card Pile -->

	<!-- Chat -->

	<!-- User List w/ Scores --> 

</div>